/* Variables */

:root {
    --bgcolor: #FEFAE0;
    --lightgreen: #70e000;
    --darkgreen: #007200;
    --lightgold: #DDA15E;
    --lightblack: #202020;
    --whitecustom: #f1f1f1;
}

/* General Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navigation */

header {
    position: fixed;
        top: 0;
        left: 0;
    width: 100%;
    background-color: var(--darkgreen);
    z-index: 1;
    box-shadow: 0px -32px 39px 46px rgba(0,0,0,0.52);

}

nav {
    display: flex;
        justify-content: space-between;
        align-items: center;
    width: 100%;
}

.logo-container {
    display: flex;
        align-items: center;
    padding-left: 1em;
}

.logo {
    display: none;
}

.logo-name {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    letter-spacing: .2rem;
    color: var(--whitecustom);
}

.nav-list {
    position: absolute;
    width: 100%;
    height: 0vh;
    top: 64px;
    background: var(--lightblack);
    text-align: center;
    transition: all .5s;
}

.nav-list li {
    visibility: hidden;
    line-height: 1.8rem;
    margin: 3em 0;
}

.nav-list li a {
    color: var(--whitecustom);
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
}
.hamburger-btn {
    display: block;
    padding-right: .5em;
    font-size: 2.4rem;
    color: var(--whitecustom);
    line-height: 4rem;
    cursor: pointer;
}

#check {
    display: none;
}

#check:checked ~ .nav-list {
    height: 100vh;
}

#check:checked ~ .nav-list li {
    visibility: visible;
}

.navbtn-container {
    display: none;
}

.nav-btn {
    display: none;
    text-decoration: none;
}


/* Main */

main {
    width: 100%;
}

.local {
    padding-top: 5em;
    background: url(../multimedia/local.jpg) no-repeat center rgb(82, 82, 82);
    background-blend-mode: multiply;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    display: flex;
        flex-flow: column;
        justify-content: center;
}

.main-info {
    display: flex;
        flex-flow: column;
        text-align: center;
    width: 90%;
    margin: 0 auto;
}

.main-info h1 {
    display: flex;
        flex-flow: column;
    margin-bottom: .4em;
    font-size: 2.8rem;
    line-height: 1em;
    color: var(--lightgreen);
}

.main-info p {
    font-weight: 600;
    color: var(--whitecustom);
}

.wpp {
    width: 80%;
    margin: 0 auto;
    padding-top: 3em;
}

.wpp a {
    display: flex;
        align-items: center;
        justify-content: space-between;
    padding: .7em 1em;
    text-decoration: none;
    background-color: var(--darkgreen);
    color: var(--whitecustom);
    border-radius: 1em;
}

.wpp img {
    width: 2.5em;
    height: 2.5em;
}

main {
    background: var(--whitecustom);
}

.daymenu {
    padding: 1em;
}

.daymenu-info {
    display: flex;
        flex-flow: column;
        align-items: center;
}

.daymenu h2 {
    margin-bottom: .3em;
    font-size: 2.1rem;
}

.daymenu-info p {
    margin-bottom: 2em;
    font-size: .95rem;
    font-weight: 500;
    text-align: center;
}

.daymenu-info span {
    font-weight: bold;
    color: var(--darkgreen);
}

.daymenu-img .img {
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    width: 100%;
    margin-bottom: 3em;
    border-radius: 1em;
    box-shadow: 0px 10px 66px 0px rgba(0,0,0,0.41);
}

.daymenu-img .img p {
    display: flex;
        flex-flow: column;
    padding: 1em 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    color: #000;
}

.daymenu-img img {
    width: 100%;
    border-top-left-radius: .8em;
    border-top-right-radius: .8em;
}

footer {
    display: flex;
        flex-flow: column;
        align-items: center;
    width: 100%;
    padding: 1em;
    text-align: center;
    background: var(--lightblack);
}

footer .info h5 {
    margin-bottom: 1em;
    font-size: 1rem;
    color: var(--lightgreen);
}

footer .info p {
    margin-bottom: 1em;
    color: var(--whitecustom);
}

footer .social {
    display: flex;
        justify-content: space-around;
    width: 100%;
}

footer .social a {
    color: var(--lightgold);
}

#carta {
    width: 100%;
    padding: 1em;
    background: url('../multimedia/patterncarta.png');
}

#carta .carta-info {
    width: 100%;
    padding-top: 4em;
    margin-bottom: 2em;
    text-align: center;
}

#carta .carta-info h1 {
    font-size: 2.3rem;
    margin-bottom: .2em;
}

#carta .carta-info p {
    font-size: 1rem;
    font-weight: 500;
}

#carta h2 {
    margin-bottom: 1em;
    text-align: center;
    font-size: 2rem;
    color: var(--lightgreen);
}

#carta .special {
    margin-top: -1.5em;
    margin-bottom: 3em;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
}

#carta .foods {
    display: flex;
        flex-flow: column;
        justify-content: center;
    width:80%;
    margin:0 auto;
}

#carta .img {
    display: flex;
        justify-content: space-between;
        align-items: center;
    border-radius: .8em;
    margin-bottom: 3em;
    background: #fff;
    box-shadow: 10px 10px 25px -14px rgba(0,0,0,0.75);
}

#carta img {
    width: 50%;
    border-top-left-radius: .8em;
    border-bottom-left-radius: .8em;
}

#carta .food-info {
    width: 50%;
}

#carta .img p {
    margin-bottom: .5em;
    padding: 0 .1em;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.1em;
}

#carta .img .price {
    margin: none;
    padding: none;
    font-weight: 700;
    color: var(--darkgreen)
}

/* -----DELIVERY----- */

#delivery {
    width: 100%;
    padding: 1em;
}

#delivery .soon {
    display: flex;
    flex-flow: column;
        align-items: center;
    padding-top: 4em;
    margin-bottom: 3em;
}

#delivery .title-container {
    width: 100%;
}

#delivery .soon h1 {
    margin-bottom: 1em;
    text-align: center;
    font-size: 2rem;
}

#delivery .soon img {
    width: 80%;
    border-radius: 1em;
}

#delivery .now {
    width: 100%;
}

#delivery .now h2 {
    text-align: center;
    font-size: 1.6rem;
    color: var(--lightblack);
}

#delivery .wpp-delivery a {
    font-size: 0.9rem;
}

#delivery .wpp-delivery p {
    display: flex;
        align-items: center;
        justify-content: space-between;
    padding: .7em 1em;
    margin: 1em 0;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: var(--lightgreen);
    color: #000;
    border-radius: 1em;
}

#delivery .wpp-delivery p img {
    width: 2.2em;
    height: 2.2em;
}

#delivery .business-hours {
    width: 100%;
    margin: 2em 0;
    padding: .5em;
    background: rgba(0,0,0,.1);
    border-radius: 1em;
    display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
}

#delivery .business-hours .title-hours {
    width: 90%;
    display: flex;
        place-items: center;
    border-bottom: 1px solid rgba(0,0,0,.3);
}

#delivery .business-hours h2 {
    text-align: center;
    margin-bottom: .5em;
}

#delivery .business-hours img {
    width: 2em;
    height: 2em;
}

#delivery .business-hours p {
    margin: 1em 0;
}

#delivery .business-hours p:last-of-type {
    margin: 0;
}


/* PROMOCIONES */

#promociones {
    padding-bottom: 1em;
}

#promociones #carouselExampleSlidesOnly {
    width: 100%;
}

#promociones .promo-image {
    width: 100%;
    padding-top: 52px;
    margin-bottom: 1em;
}

#promociones .promo-image img {
    object-fit: cover;
}

#promociones .promos {
    width: 80%;
    margin: 0 auto;
}

#promociones h1 {
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    color: #000;
    margin-bottom: .5em;
}

#promociones .promos article {
    margin-bottom: 1em;
    padding: 1em;
    border-radius: .8em;
}

#promociones .promos article.promos-current {
    background: rgba(0,0,0,.1);
}

#promociones .promos ul {
    border-bottom: 2px solid #ccc;
    padding: 0;
}

#promociones .promos li {
    margin-bottom: 1em;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

#promociones .promos li span {
    display: block;
    text-align: center;
    font-weight: 300;
}

#promociones .promos p {
    margin-top: .7em;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--darkgreen);
    text-align: center;
}

#promociones img {
    width: 100%;
}

#promociones .promo-2 img {
    height: 15em;
    object-fit: cover;
}

#promociones .promo-3 h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: var(--blackcustom);
    animation-name: promo-new;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes promo-new {
    0% {color:red;}
    50% {color: green;}
    100% {color: blue;}
}

#promociones .promo-container {
    padding: 1em;
    border-radius: .8em;
    background: var(--lightblack);
}

#promociones .promo-container p {
    color: var(--whitecustom);
}

footer a {
    text-decoration: none;
}


/* CONTACTO */


#contacto .contacto-contenedor {
    width: 90%;
    margin: 0 auto;
    padding: 5em 0 1em;
}

#contacto .form-title {
    text-align: center;
}

#contacto .form-title h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

#contacto .form-title p {
    font-size: .9rem;
}

#contacto form {
    display: flex;
        flex-direction: column;
        align-items: center;
    width: 80%;
    margin: 1em auto;
}

#contacto form input,select,textarea {
    width: 100%;
    margin-bottom: 2em;
    font-family: inherit;
}

#contacto form input[type="text"],
input[type="mail"],
textarea {
    padding: 1em 1em .5em 0;
    background: none;
    border: none;
    border-bottom: 1px solid var(--lightgreen);
    text-align: left;
    font-size: .9rem;
}

#contacto select {
    padding: .5em;
    background: none;
    border: 1px solid var(--lightgreen);
}

#contacto select option {
    text-align: center;
}

#contacto textarea {
    resize: none;
    width: 100%;
    height: 3em;
}

#contacto input[type="submit"] {
    width: 50%;
    padding: .7em 1em;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    background: var(--lightgreen);
    border: none;
    cursor: pointer;
}

#contacto img {
    display: block;
    width: 40%;
    margin: 0 auto;
}

/* RESPONSIVE */


@media only screen and (min-width: 425px) {
    .main-info h1 {
        font-size: 3.5rem;
    }

    /* CARTA */

    #carta .carta-info h1 {
        font-size: 3rem;
    }

    /* DELIVERY */

    #delivery .soon h1 {
        font-size: 2.8rem;
    }
    
    #delivery .now {
        width: 80%;
        margin: 0 auto;
    }

    #delivery .wpp-delivery a {
        font-size: 1rem;
    }

    #delivery .wpp-delivery p img {
        width: 2em;
        height: 2em;
    }

    #delivery .business-hours {
        padding: 1em;
    }

    #delivery .business-hours .title-hours {
        width: 90%;
        display: flex;
            justify-content: space-between;
            align-items: center;
        border-bottom: 1px solid rgba(0,0,0,.3);
    }

    #delivery .business-hours h2 {
        font-size: 1.6rem;
    }

    #delivery .business-hours img {
        width: 2.2em;
        height: 2.2em;
    }

    #delivery .business-hours p {
        font-size: 1.2rem;
    }

    /* PROMOCIONES */

    #promociones .promos {
        width: 60%;
    }

    #promociones .promos li {
        font-size: 1.2rem;
    }

    #promociones .promos p {
        margin-top: .6em;
        font-size: 1.8rem;
    }

    #promociones .promos article {
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 768px) {
    .main-info h1 {
        display: block;
        font-size: 4.5rem;
    }

    .main-info p {
        font-size: 1.7rem;
    }

    .wpp {
        width: 40%;
    }

    .wpp a {
        font-size: 1.2rem;
    }

    .daymenu {
        width: 90%;
        margin: 0 auto;
    }

    .daymenu h2 {
        font-size: 3rem;
    }

    .daymenu p {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .daymenu-img {
        margin: 0 auto;
        width: 60%;
    }

    .daymenu-img .img p {
        font-size: 1.7rem;
        font-weight: 400;
    }

    footer {
        display: flex;
            flex-flow: row;
        width: 100%;
        padding: 2em;
        text-align: center;
    }

    footer .info {
        display: flex;
            flex-flow: column;
            align-items: flex-start;
        width: 50%;
    }
    
    footer .info h5 {
        margin-bottom: 1em;
        font-size: 1rem;
        color: var(--lightgreen);
    }
    
    footer .info p {
        margin-bottom: 1em;
        color: var(--whitecustom);
    }

    footer .info p:last-of-type {
        margin: 0;
    }
    
    footer .social {
        display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-end;
        width: 50%;
    }

    footer .social a {
        margin-bottom: 2em;
    }

    footer .social a:last-of-type {
        margin: 0;
    }


    /* CARTA.HTML */

    #carta .carta-info {
        width: 65%;
        margin: 0 auto;
    }

    #carta .carta-info h1 {
        font-size: 4rem;
    }
    
    #carta .carta-info p {
        margin-bottom: 3em;
        font-size: 1.4rem;
        font-weight: 300;
    }
    
    #carta h2 {
        text-align: center;
        font-size: 3.7rem;
    }
    
    #carta .specials-container {
        width: 65%;
        margin: 0 auto;
    }

    #carta .special {
        margin-top: -1.3em;
        font-weight: 300;
        font-size: 1.5rem;
    }

    #carta .foods {
        display: flex;
            flex-flow: row wrap;
        width: 100%;
        padding: 0 8em;
    }

    #carta .img {
        display: flex;
            justify-content: space-between;
            align-items: initial;
        border-radius: .8em;
    }

    #carta img {
        width: 30%;
    }

    #carta .food-info {
        width: 70%;
            display:flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
        padding: 1em;
    }

    #carta .img p {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3em;
        text-align: left;
    }
    
    #carta .img .price {
        font-size: 2.2rem;
        margin-left: .5em;
    }

    /* DELIVERY */

    #delivery .soon {
        display: flex;
        flex-flow: row;
            align-items: center;
            justify-content: space-around;
        width: 80%;
        margin: 0 auto;
        padding-top: 5em;
    }
    
    #delivery .title-container {
        width: 40%;
    }
    
    #delivery .soon h1 {
        margin: 0;
        text-align: left;
        font-size: 3rem;
        display: flex;
            flex-flow: column;
    }
    
    #delivery .soon img {
        width: 40%;
    }
    
    #delivery .now {
        display: flex;
            flex-flow: row-reverse;
            justify-content: space-between;
            align-items: center;
        margin: 4em auto;
        padding: 1em;
        border: 2px solid #000;
        border-radius: 1em;
    }

    #delivery .wpp-delivery {
        margin: 0;
        padding: 0;
    }

    #delivery .wpp-delivery a {
        text-align: right;
        font-size: .9rem;
    }
    
    #delivery .wpp-delivery img {
        font-size: 1rem;
    }

    #delivery .wpp-delivery p {
        margin-bottom: 0;
    }
    
    #delivery .business-hours {
        width: 80%;
        margin: 0 auto;
    }
    
    #delivery .business-hours .title-hours {
        width: 90%;
        display: flex;
            justify-content: flex-start;
        border-bottom: 1px solid rgba(0,0,0,.3);
    }
    
    #delivery .business-hours h2 {
        text-align: center;
        margin-bottom: .5em;
    }
    
    #delivery .business-hours img {
        margin: 0 1em .5em 0;
    }
    
    #delivery .business-hours p {
        margin: 1em 0;
    }
    
    #delivery .business-hours p:last-of-type {
        margin: 0;
    }

    /* PROMOCIONES */

    #promociones .promo-image img {
        height: 30vh;
    }
    
    #promociones h1 {
        font-size: 3rem;
    }

    #promociones .promos {
        display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
        width: 90%;
    }

    #promociones .promos-current {
        width: 40%;
    }

    #promociones .promo-2 img {
        height: 13em;
    }

    #promociones .promo-new {
        width: 50%;
    }

    #promociones .promo-3 h3 {
        margin-bottom: .5em;
    }

    /* CONTACTO */

    #contacto .contacto-contenedor {
        display: flex;
            flex-flow: row wrap;
            align-items: center;
    }
    
    #contacto .form-title {
        width: 100%;
        margin-bottom: 2em;
    }
    
    #contacto .form-title h1 {
        font-size: 3rem;
    }

    #contacto .form-title p {
        font-size: 1.2rem;
        font-weight: 300;
    }

    #contacto form {
        width: 50%;
    }

    #contacto img {
        width: 25%;
        height: 25%;
    }
}

@media only screen and (min-width: 900px) {
    header {
        background: rgba(0,0,0,.6);
        
        transition: background .3s;
    }

    .bg {
        background: rgba(0,0,0,.6);
    }

    .scroll {
        box-shadow: 0px -32px 39px 46px rgba(0,0,0,0.52);
        background: var(--lightblack);
    }
    
    .logo {
        display: block;
        width: 140px;
    }
    
    .logo-name {
        display:none;
    }

    nav {
        background-color: transparent;
    }

    .hamburger-btn {
        display: none;
    }

    .nav-list {
        display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
        position: relative;
        height: 80px;
        top: 0;
        background: none;
        transition: none;
    }

    .nav-list li {
        visibility: visible;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-list li a {
        font-size: 1.1rem;
    }

    .nav-list li a:hover {
        color: var(--lightgreen);
        transition: .3s;
    }

    .navbtn-container {
        display: flex;
        width: 20%;
    }

    .nav-btn {
        display: flex;
        padding: .7em 1em;
        color: #000;
        font-size: 1.2rem;
        font-weight: 700;
        background-color: var(--lightgreen);
        border-radius: 1em;
    }

    .nav-btn:hover {
        background: #70e000;
        box-shadow: 0 0 10px #70e000, 0 0 30px #70e000, 0 0 20px #70e000;
        transition: .3s;
    }

    .wpp a:hover {
        transform: scale(1.2);
        transition: .5s;
    }

    .daymenu-img .img {
        display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
        width: 100%;
        margin-bottom: 3em;
        border:none;
        border-radius: 1em;
        box-shadow: 20px 19px 40px 1px rgba(0,0,0,0.51);
    }

    .daymenu-img .img:hover {
        transition: all .4s;
        background: var(--darkgreen);
        color: var(--whitecustom);
    }
    
    .daymenu-img .img p {
        width:70%;
        padding: 0;
        text-align: center;
        font-weight: 500;
        font-size: 1.7rem;
        color: inherit;
    }
    
    .daymenu-img img {
        width: 30%;
        border: none;
        border-bottom-left-radius: 1em;
        border-top-right-radius: 0;
    }

    footer .social a:hover{
        animation-name: red_social;
        animation-duration: 1s;
    }

    @keyframes red_social {
        0% {transform: rotate(0turn);}
        100% {transform: rotate(1turn);}
    }


    /* CARTA */

    #carta .carta-info {
        padding-top: 5.5em;
    }
    
    #carta .carta-info h1 {
        font-size: 3.3rem;
    }
    
    #carta .carta-info p {
        font-size: 1.3rem;
        font-weight: 400;
    }
    
    #carta h2 {
        font-size: 3rem;
    }
    
    #carta .special {
        margin-top: -1.5em;
        margin-bottom: 3em;
        text-align: center;
        font-weight: 400;
        font-size: 1.7rem;
    }
    
    #carta .foods {
        display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        padding: 0;
        width: 60%;
    }
    
    #carta .img {
        display: flex;
            flex-flow: column;
            align-items: initial;
        width: 40%;

        box-shadow: 0px 8px 24px 5px rgba(0,0,0,0.45);
    }

    #carta .img:hover {
        transform: scale(1.1);
        transition: .2s;
    }
    
    #carta img {
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    #carta .food-info {
        display: flex;
            flex-flow: column;
            align-items: center;
        width: 100%;
    }
    
    #carta .img p {
        margin-bottom: .5em;
        padding: 0 .1em;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.1em;
        text-align: center;
    }
    
    #carta .img .price {
        margin: 0;
        padding: 0;
        font-weight: 700;
        color: var(--darkgreen)
    }

    #delivery .wpp-delivery a {
        transform: none;
    }

    #delivery .wpp-delivery a:active{
        background: #004400;
        transition: background .3s;
    }

    /* PROMOCIONES */

    #promociones .promo-image {
        padding: 0;
    }

    #promociones .promo-1 li {
        font-size: 1.35rem;
    }

    #promociones .promo-2 img {
        height: 15em;
    }

    #contacto input[type="submit"]:active {
        background: #60c000;
        transform: scale(.9);
        transition: all .1s;
    }
}


@media only screen and (min-width:1024px) {
    .local p {
        font-size: 1.8rem;
    }

    .wpp {
        width: 25%;
        margin: 0 auto;
    }

    .wpp a {
        font-size: 1.3rem;
    }

    .daymenu-img {
        width: 70%;
    }
    
    .daymenu h2 {
        font-size: 4rem;
    }
    
    .daymenu-info p {
        font-size: 1.5rem;
    }

    footer {
        font-size: 1.4rem;
    }

    footer .info h5 {
        font-size: 2rem;
    }

    /* CARTA */

    #carta {
        width: 100%;
        padding: 1em;
    }
    
    #carta .carta-info {
        width: 100%;
        padding-top: 7em;
        margin-bottom: 2em;
        text-align: center;
    }
    
    #carta .carta-info h1 {
        font-size: 4rem;
        margin-bottom: .2em;
    }
    
    #carta .carta-info p {
        font-size: 1.6rem;
        font-weight: 400;
    }
    
    #carta h2 {
        margin: 1em 0;
        text-align: center;
        font-size: 3rem;
    }

    #carta .foods {
        width: 80%;
    }

    #carta .img {
        margin: 2em;
    }

    /* DELIVERY */

    #delivery .soon h1 {
        font-size: 5rem;
    }

    /* PROMOCIONES */

    #promociones h1 {
        font-size: 3.4rem;
    }

    #promociones .promos {
        display: flex;
            justify-content: flex-start;
        width: 90%;
    }

    #promociones .promos-current {
        width: 30%;
        margin-right: 2em;
    }

    #promociones .promo-2 img {
        height: 15em;
    }

    #promociones article.promo-new {
        position: absolute;
            right: -3px;
        width: 30%;
        padding: 0;
    }

    #promociones .promo-new h3 {
        font-size: 3rem;
        margin-bottom: 0;
    }

    #promociones .promo-container {
        border-radius: .8em 0 0 .8em;
    }

    /* CONTACTO */

    #contacto form input[type="text"],
    input[type="mail"],
    textarea {
        font-size: 1.3rem;
    }

    #contacto select {
        font-size: 1.3rem;
    }

    #contacto img {
        width: 20%;
    }
}

@media only screen and (min-width:1280px) {

    #carta .carta-info {
        width: 90%;
        padding-top: 5em;
    }
    
    #carta .carta-info h1 {
        font-size: 4rem;
    }
    
    #carta .carta-info p {
        font-size: 1.6rem;
        font-weight: 300;
    }
    
    #carta h2 {
        text-align: center;
        font-size: 3rem;
    }
    
    #carta .special {
        margin-top: -1.5em;
        margin-bottom: 3em;
        text-align: center;
        font-weight: 400;
        font-size: 1.7rem;
    }
    
    #carta .foods {
        display: flex;
            justify-content: space-evenly;
        padding: 0 0em;
        width: 80%;
    }
    
    #carta .img {
        width: 25%;
    }
    
    #carta .img p {
        margin-bottom: .5em;
        padding: 0 .1em;
        font-size: 2.3rem;
        font-weight: 500;
        text-align: center;
        line-height: 1.1em;
    }
    
    #carta .img .price {
        margin: none;
        padding: none;
        font-size: 3rem;
        font-weight: 700;
        color: var(--darkgreen)
    }

    /* PROMOCIONES */

    #promociones h1 {
        text-align: left;
        padding-left: 2em;
        font-size: 4.5rem;
    }
    
    #promociones .promo-1 li {
        font-size: 1.4rem;
    }

    #promociones .promo-2 img {
        height: 16em;
    }
    #promociones article.promo-new {
        width: 20%;
    }
}